<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 维持后台运行 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <!-- 其它 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".MyApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/MyTheme">

        <!-- 解决7.0中通过URI访问文件会出现FileUriExposedException问题 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">

            <!-- 注意:在res/xml下添加provider_paths.xml并设置 -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service
            android:name=".ServiceForeground"
            android:enabled="true"
            android:exported="false" />

        <service android:name=".ServiceSystemAlertWindow" />
        <service
            android:name=".ServiceAccessibilityRemoteControl"
            android:enabled="true"
            android:exported="true"
            android:label="破笼远程控制"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service" />
        </service>

        <!-- single启动模式时,如果已经创建则需在onNewIntent()中获取Intent,如果未曾创建则需在onCreate()中获取. -->
        <activity
            android:name=".ActivityMain"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityAbout"
            android:theme="@style/MyTheme.Dialog" />
        <activity
            android:name=".ActivityAlert"
            android:theme="@style/MyTheme.Dialog" />
        <activity
            android:name=".ActivityInfoForm"
            android:theme="@style/MyTheme.Dialog" />
        <activity
            android:name=".ActivityEditText"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity android:name=".ActivityRemoteControlTaskDo" />
        <activity
            android:name=".ActivityOption"
            android:parentActivityName=".ActivityMain" />
        <activity
            android:name=".ActivityRemoteControlOption"
            android:parentActivityName=".ActivityOption" />
        <activity
            android:name=".ActivityAdd"
            android:parentActivityName=".ActivityMain" />
        <activity
            android:name=".ActivityQrCode"
            android:parentActivityName=".ActivityAdd" />
        <activity android:name=".ActivityFileChoose" />
        <activity
            android:name=".ActivityChat"
            android:parentActivityName=".ActivityMain" />
        <activity
            android:name=".ActivityTargetInfo"
            android:parentActivityName=".ActivityChat" />
        <activity
            android:name=".ActivityShare"
            android:theme="@style/MyTheme.Dialog" />
        <activity android:name=".ActivityRemoteControlView" />
        <activity android:name=".ActivityRemoteControlAsk" />
    </application>

</manifest>